@charset "UTF-8";

:root {
    --ccyel: #ffebb4;
    --cyel: #e6c66c42;
    --yel: #E6C56C;
    --myel: #B3AB42;
    --dyel: #807E6F;
    --blue: #4296B3;
    --cblue: #A8C7E9;
    --dblue: #285a6b;

}