@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    background: url('../images/van.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

main {
    background-color: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1.9px);
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#content {
    position: absolute;
    width: 60vw;
    min-height: 430px;
    left: 50%;
    top: 50%;
    background: var(--yel);
    color: var(--dyel);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.5);


    transform: translate(-50%, -50%);
}

div#fixo {
    text-align: center;
    background-color: var(--cblue);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 25px
}

div#poem > h2 {
    margin-bottom: 10px;
}
div#poem > p {
    text-indent: 2em;
}

